.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 92px 24px 96px;
  font-size: 18px;
}

.header__menu {
}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 136px;
}

.address {
  font-style: normal;
  line-height: 1.28;
}

.header__address {
  margin-left: auto;
}
